body{
    overflow-x: hidden !important;
    background-color: #fff;
}

html{
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

.nav-anchor-offset{
    position: relative;
    top: -70px;
}

a, a:hover, a:focus, a:active{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    padding: 0px;
    list-style-type: none;
}

.btn{
    background-color: inherit;
    color: #fff;
    border: 2px solid inherit;
    font-weight: bold;
    font-size: 17px;
}

.btn:hover, .btn:focus{
    color: #fff;
}

.section-header{
    font-size: 44px;
    font-weight: bold;
    padding: 75px 0px 75px 0px;
}

/* Nav Section */
.navbar{
    position: fixed; 
    color: #fff; 
    max-height: 8%;
    width: 100vw;  
    padding: 0px 30px 0px 4.5%;
    background-color: rgb(0,1,34) !important;
    z-index: 4;
}

.navbar-collapse{
    position: relative; 
    justify-content: center;
    background-color: inherit;
}

#nav-icon{
    height: 80px;
    margin-bottom: 10px;
}

.nav-item{
    margin: 0px 20px 0px 20px;
}

.nav-btn {
    font-weight: bold;
    background-color: rgb(0,1,34);
    color: #fff !important;
    cursor: pointer;
    font-size:16px;
    letter-spacing: 0px;
    line-height: 45px;
    margin: 0 0 0em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    transition: all 280ms ease-in-out;
}

.nav-btn:hover,
.nav-btn:active {
  letter-spacing: 5px;
}

.nav-btn:after, .project-nav-btn:after {
  backface-visibility: hidden;
  border: 1px solid rgb(0,1,34);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0px;
}

.project-nav-btn:after{
    border: 1px solid #fff;
}

.nav-btn:hover:after, .project-nav-btn:hover:after{
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.project-nav-btn:hover:after{
    border-color: #d90429;
}

/* Hero Sectiom */
#hero-section{
    height: 100vh;
    background-image: url("/public/assets/images/hero-img.png");
    background-repeat: no-repeat;
    box-shadow: 0px -5px 10px 2px black;
}

#hero-padding{
    margin: 0px 10% 0px 10%;
}

#hero-content{
    height: 100vh;
}

#hero-info-container{
    position: relative;
    top: 33%;
}

#hello-text{
    color: #d90429;
    font-size: 30px;
    font-weight: 500; /*500*/
    margin-left: -3px;
    margin-bottom: 0px;
}

#signature{
    font-size: 6rem !important;
    font-weight: bold;
    padding: 5px;
    margin-top: -10px;
    color: rgb(0,1,34);
}

#sub-head{
    padding: 12px;
    font-size: 33px !important;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    color: rgb(0,1,34);
}

.btn-container{
    margin-top: 40px;
}

.hero-btn{
    height: 50px !important;
    max-width: 150px;
    width: 140px;
    margin-right: 30px;
    padding: 0px 30px 0px 30px !important;
    background-color: #d90429 !important;
    box-shadow: -4px 11px 20px #a6031d !important;
    transition: transform 200ms linear;
    font-size: 1rem !important;
}

.hero-btn-link{
    color: #fff !important;
    text-decoration: none;
}

.hero-btn:hover{
    transform: scale(1.05);
    transition: transform 200ms linear;
}

#contact-btn-linkedin{
    background-color: white;
    color: rgb(0,1,34);
}

.slide:hover, .slide:focus{
    border: 2px solid #fff;
    box-shadow: inset 18.75em 0 0 0 rgb(0,1,34);
    color: #fff !important;
    transition: ease-out 0.4s;
}

#social-container{
    position: relative;
    top: 55%;
    margin-left: -6px;
}

.fab{
    font-size: 40px;
    text-decoration: none;
    width: auto;
}

.social-icon-red{
    margin-right: 10px;
    color: #d90429;
    transition: transform 500ms ease-in-out 25ms ;
}

.social-icon-red:hover{
    color: #d90429;
    transform: translateY(-10px);
    transition: transform 500ms ease-in-out 25ms ;
}
#abt-me-img-container{
    max-height: 360px !important;
    margin-bottom: 30px;
}

#about-content{
    height: 100vh;
    margin: 0px 10% 0px 10%;
}

#abt-img-container{
    width: 300px;
    position: relative;
    right: 0px;
    border-radius: 5px;
    border: black solid 1px;
    box-shadow: -30px 30px 10px rgb(0,1,34),
    30px -30px 10px #d2d7df;
    transition: ease-out 0.4s;
}

#abt-img-container:hover{
    box-shadow: -15px 15px 3px rgb(0,1,34),
    15px -15px 3px #d2d7df;
}

#abt-me-img{
    width: 300px;
    padding: 10px;
}

#about-subhead{
    font-size: 30px;
}

.about-text{
    font-size: 1.25rem;
}

#recent-grid{
    width: 100%;
    position: relative;
    left: 15%;
    margin-top: 30px;

}

.recent-tech-col{
    width: auto;
    margin: 0px 8px 8px 8px;
    height: 38px;
}

.recent-tech-item{
    width: 150px;
    box-shadow:  6px 6px 10px #a6031d !important;
    cursor: default !important;
}

#education{
    padding-bottom: 10px;
}

#degree{
    font-size: 16px;
}

#university{
    font-size: 15px;
}


/* Projects Section */
#project-section{
    /* background-image: url(/public/assets/images/project-background.png); */
    /* background-repeat: no-repeat; */
    justify-content: center;
    text-align: center;
    background-color: #fff;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 60px;
}

/* 
#project-content{
    justify-content: center !important;
    display: block !important;
    text-align: center !important;
} */

.project-nav-container{
    display: flex;
}

.project-nav-btn{
    width: auto;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #d90429;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
    box-shadow: none;
    margin: 0px 5px 0px 5px;
}

.project-nav-btn:hover{
    background-color: #FFE2E2;
    color: #d90429;
}

.project-nav-btn:focus{
    box-shadow: none;
}

.project-nav-btn.active, .project-nav-btn.active:after{
    background-color: #d90429;
    color: white;
    border: 1px solid #d90429;
}

.project-section{
    padding: 0px 25px 0px 25px;
}

.project-work-block{
    min-height: 366px;
    height: 100%;
    margin-top: 60px;
}

.project-image{
    /* min-height: 100%; */
    height: 430px;
    max-width: 400px;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
}

.project-type{
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #d90429;
}

.project-heading{
    color: rgb(0,1,34);
    font-weight: bold;
    transition: all 180ms ease-in-out;
}

.project-decription-content, .project-decription-content-lft{
    padding: 25px;
    border-radius: 5px;
    height: 100%;
}

.project-decription-content{
    text-align: end;
}

.project-description, .project-description-lft{
    position: relative;
    min-height: 122px;
    width: 134%;
    padding: 25px;
    font-size: 17px;
    border-radius: 4px;
    background-color: aliceblue;
    box-shadow: 0 10px 30px -15px rgb(0,1,34);
    z-index: 2;
}

.project-description, .project-resources{
    float: right;
}

.project-description-lft, .project-resources-lft{
    float: left;
}

.project-tech-list{
    width: 100%;
    color: #d90429;
    font-weight: 650;
    padding: 15px 0px 10px 0px;
}

.project-tech-item{
    margin: 0px 10px 5px 0px;
}

.project-links{
    width: 100%;
}

.project-links-rt{
    float: right;
}

.project-link-icon{
    color: rgb(0,1,34);
    height: 20px;
    width: 20px;
    font-size: 30px;
    padding-right: 45px;
    transition: all 180ms ease-in-out;
}

.project-heading:hover, .project-link-icon:hover{
    color: #d90429;
}

.show {
    display: flex;
}

.hide{
    display: none !important;
}

/* Skills Section */
#skills-section{
    background-image: url(/public/assets/images/skills-background.png);
    background-repeat: no-repeat;
}

#skills-content{
    height: 100vh;
}

.skill-heading{
    text-align: center;
    text-decoration: underline;
}

.skill-text{
    padding: 0px;
}

.skill-btn{
    width: 100%;
    width: 150px;
    margin: 8px 8px 8px 8px !important;
    padding: 10px 0px 10px 0px;
    background-color: #d90429;
}

/* Contact Section */
#contact-section{
    height: auto;
}

#form-container{
    position: relative;
}

#contact-header{
    color: #fff !important;
    padding: 20px 0px 20px 0px;
}

#contact-text{
    text-align: center;
    font-size: 20px;
}

#form-img{
    position: absolute;
    height: 600px;
    padding-top: 50px;
}

.form-item{
    margin-top: 30px;
}

.form-label{
    padding: 0px;
}

#contact-btn{
    height: 44px;
    width: 120px;
    margin-top: 20px;
    background-color: #d90429;
}


/* Footer Section*/
footer{
    min-height: 300px;
    height: auto;
    background-color: rgb(0,1,34);
}

#footer-content{
    display: flex;
    justify-content: center;
}

#footer-select{ 
    margin-top: 100px;
}

.footer-link{
    font-size: 14px;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff !important;
}

.footer-link:hover{
    text-decoration: underline;
    color: #fff;
}

@media (max-width: 1270px){

    #about-content{
        margin: 20px;
    }

    #abt-me-img, #abt-img-container{
        width: 200px !important;
    }

    #about-subhead{
        font-size: 25px !important;
    }

    .about-text{
        font-size: 16px !important;
    }

    #abt-me-img-container{
        max-height: 257px !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 1270px){
    .project-description, .project-description-lft{
        font-size: 12px;
    }
}


@media(max-width: 991px){
    .navbar-collapse{
        position: absolute; 
        right: 0px;
        top: 68px;
        width: 100vw;
    }
    
    .skill-btn{
        font-size: 13px;
    }
}

@media (max-width: 900px), (max-height: 800px){

    #about-section{
        margin: 10px !important;
    }

    #signature{
        font-size: 65px !important;
    }
    #sub-head{
        font-size: 20px;
    }
    .hero-btn{
        width: auto !important;
        font-size: medium;  
    }

    #about-section, #about-content, #project-section, #skills-section, #contact-section{
        height: fit-content;
    }

    #contact-header{
        color: #2f3046 !important;
    }

    #form-img{
        display: none !important;
    }
    
}

@media (max-width: 767px) {
    .section-header{
        padding-bottom: 20px;
    }
    #abt-img-container{
        box-shadow: -15px 15px 3px rgb(0,1,34),
        15px -15px 3px #d2d7df;
    }
    .skill-btn{
        width: 100%;
        max-width: 100px;
        font-size: 12px;
    }
    .project-nav-btn{
        font-size: small;
        padding: 0px 10px 0px 10px;
    }
    .project-image{
        opacity: 0.25;
    }
    .project-decription-content, .project-decription-content-lft{
        position: absolute;
        text-align: start !important;
    }
    .project-description, .project-description-lft{
        padding: 0px;
        width: 360px;
        background-color: inherit;
        box-shadow: none;
        float: none;
    }
    .project-resources{
        float: left;
    }
    .project-tech-list{
        width: auto;
        padding: 0px;
        justify-content: start;
    }
    .project-links{
        width: auto;
        justify-content: start;
    }
}

@media (max-width: 580px) {
    #hero-padding{
        margin: 0px 50px 0px 50px;
    }

    .hero-btn{
        width: 100px; 
        font-size: small;  
    }  
}

@media (min-width: 420px) {
    #signature{
       font-size: 55px;
    }

    #sub-head{
        font-size: 16px;
    }

    .hero-btn{
        font-size: small;
    }   
}

@media (max-width: 480px) {
    #signature{
       font-size: 3.35rem !important;
    }

    #sub-head{
        font-size: 1.5rem !important;
    }
    
    .hero-btn{
        margin-right: 15px;
    }

    #about-subhead{
        text-align: center;
        font-size: 23px !important;
    }

    .recent-tech-item,.skill-btn { 
        width: 100px !important;
        font-size: small;
    }

    .fab{
        font-size: 30px;
        margin-right: 3px;
    }
}

@media (max-width: 420px) {
    #hero-padding{
        margin: 0px 1vw 0px 1vw;
    }
    #hello-text{
        font-size: 25px;
    }
    #signature{
       font-size: 50px !important;
    }
    #sub-head{
        font-size: 16px !important;
    }
    .hero-btn{
        width: 100px !important;
        padding: 0px !important;
        font-size: small !important;
    }

    #about-subhead{
        text-align: center;
        font-size: 20px !important;
    }

    #degree, #university{
        font-size: 12px !important;
    }

    .about-text{
        font-size: 13px !important;
    }

    .work-position-wrap{
        max-width: 185px;
    }

    #form-img{
        display: none !important;
    }

    #contact-header{
        color: #2f3046 !important;
    }

    .footer-link{
        font-size: 13px;
        margin: 8px;
    }
}

